.row{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  width: 100%;
}
.column1{
  /* border: 1px solid black; */
  width: 49%;
}
.column2{
  /* border: 1px solid black; */
  width: 49%;
}